<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">

        <ul class="contact-list">
          <li class="p-name">
            <a href="https://github.com/CaryXiao1"><svg class="svg-icon" viewbox="0 0 16 16"><use xlink:href="{{ '/assets/icons.svg#github' | relative_url }}"></use></svg></a>
            <a href="https://www.linkedin.com/in/cary-xiao"><svg class="svg-icon" viewbox="0 0 16 16"><use xlink:href="{{ '/assets/icons.svg#linkedin' | relative_url }}"></use></svg></a>
            <a href="mailto:caryxiao@stanford.edu"><svg class="svg-icon" id="email" viewbox="0 1 24 21"><use xlink:href="{{ '/assets/icons.svg#email' | relative_url }}"></use></svg></a>
          </li>
        </ul>




      <div class="footer-copyright">
        <p>© Cary Xiao 2021</p>
      </div>
    </div>

  </div>

</footer>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> <!-- jQuery -->
<script src="{{ base.url | prepend: site.url }}/assets/scroll.js"></script> <!-- Scroll arrows and window resize fixes -->
<!-- Other scripts used specifically for the home page are placed in home.html -->

