---
layout: default
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="card-wrap">
  <div class="card" id="page">
    <div  id="u-arr-wrap" hidden>    
      <svg class="svg-icon up-arrow" id="u-arr" onclick="cardUp()" preserveAspectRatio="xMidYMid meet" viewbox="0 0 25 25" hidden><use xlink:href="{{ '/assets/icons.svg#up-arrow' | relative_url }}"></use></svg>
    </div>
  <!-- page 1 --> <!-- index starting at 0 -->
    <div id="page-0">
      <span class="vert-align"></span><img id="main-bust" src="../img/main-bust.jpg">
      <h3 id="main-text"><span>Hey There! <br>
        I'm Cary, a Computer Science major at
        Stanford University. I enjoy working on
        projects that can help others.</span>
      </h3>
    </div>
    <!-- page 2 -->
    <div class="card-page animate" id="page-1" hidden>  
      <h1 class="post-title">some stats</h1>
      <h1>education</h1>
      <h3>Stanford University: c/o '25</h3>
      <h3>Alabama School of Math & Science: c/o '21</h3>
      <h1>skills</h1>
      <h3>Programming: C++, Python, Java, HTML, CSS, JavaScript</h3>
      <h3>Software: Qt Creator, VS Code, Eclipse, Android Studio</h3>
      <h1>notable honors</h1>
      <h3>3-time ISEF Finalist, Oracle Academy Award Winner, Presidential Scholar Semifinalist</h3>
    </div>
    <!-- page 3 -->
    <div class="card-page animate" id="page-2" hidden>
      <h1 class="post-title">helpful links</h1>
      <a class="link" href="https://drive.google.com/file/d/1RPeHoJ_EKatQpCTZ18c_zXQ3bopFr_5P/view?usp=sharing" target="_blank"><h3>resume</h3></a>
      <a class="link" href="https://scholar.google.com/scholar?hl=en&as_sdt=0%2C1&q=%22Cary+Xiao%22&btnG=" target="_blank"><h3>publications</h3></a>
      <br />
      <h1 class="post-title">hobbies!</h1>
      <img src="/img/bearial.jpg" class="hobby-img">
      <img src="/img/sfmarathon.jpg" class="hobby-img">
      <img src="/img/yosemite.jpg" class="hobby-img">
    </div>
    <div id="d-arr-wrap">  
      <svg class="svg-icon down-arrow" id="d-arr" onclick="cardDown()" preserveAspectRatio="xMidYMid meet" viewbox="0 0 25 25"><use xlink:href="{{ '/assets/icons.svg#down-arrow' | relative_url }}"></use></svg></a>
    </div>
  </div>
</div>
<script src="{{ base.url | prepend: site.baseurl }}/assets/textFit.js"></script> <!-- Text Fit -->
<script src="{{ base.url | prepend: site.baseurl }}/assets/arrow-animate.js"></script>
<script src="{{ base.url | prepend: site.baseurl }}/assets/scroll-home.js"></script>